@model IEnumerable<CropCalender.Models.EntityModels.SubDistrict>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubDistBbsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubDistrictName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistBbsId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubDistBbsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubDistrictName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistBbsId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
