@model CropCalender.Models.EntityModels.LandType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LandType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LandTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandTypeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandTypeDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
