@model IEnumerable<CropCalenderApp.ViewModels.CropAdviceListVm>
@{

    var loop = 0;
}
<div class="container">
    @if (Model.Any())
    {

        <table class="table">
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CropName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CropVarieties)
                </th>


            </tr>

            @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model.ToList()[loop].IsSelected)
                        @Html.HiddenFor(modelItem => Model.ToList()[loop].CropAdviceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CropName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CropVarieties)
                    </td>
                </tr>
                loop = loop + 1;
            }

        </table>



    }

</div>