@model CropCalender.Models.EntityModels.CropAdvice

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
    var areas = ViewBag.Areas;
    

}

<h2 style="text-align: center">কৃষি ক্যালেন্ডার পর্যালোচনা</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("অঞ্চল নির্ধারণ", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.DropDownList("AreaDD", new SelectList(areas, "Id", "AreaName"), "  নির্বাচন করুন  ", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("জেলা নির্ধারণ", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.DropDownList("DistrictDD", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("উপজেলা নির্ধারণ", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.DropDownList("SubDistrictDD", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("জমি নির্ধারণ", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.DropDownList("LandTypeId", null, "জমির ধরণ নির্বাচন করুন ", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LandTypeId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {

            //Target District
            $("#AreaDD").change(function () {
                var _areaId = $("#AreaDD").val();
                var targetId = "#DistrictDD";
                BindDivisionAndDistrict(_areaId, targetId);
            });

            //Target Subdistrict
            $("#DistrictDD").change(function () {
                var _districtId = $("#DistrictDD").val();
                var targetId = "#SubDistrictDD";
                BindDistrictAndSubDistrict(_districtId, targetId);
            });

           

        });
        
        function BindDivisionAndDistrict(_areaId, targetId) {

            var jsonData = { areaId: _areaId };
            $.ajax({
                url: "/CropAdvices/GetByArea",
                data: jsonData,
                type: "POST",
                success: function (response) {
                    $(targetId).empty();

                    var options = "<option>  নির্বাচন করুন  </option>";
                    $.each(response,
                        function (key, district) {
                            options += "<option value='" + district.Id + "'>" + district.DistrictName + "</option>";
                        });
                    $(targetId).append(options);
                },
                error: function (response) {

                }
            });
        }

        function BindDistrictAndSubDistrict(_districtId, targetId) {

            var jsonData = { districtId: _districtId };
            $.ajax({
                url: "/CropAdvices/GetByDistrict",
                data: jsonData,
                type: "POST",
                success: function (response) {
                    $(targetId).empty();
                    var options = "<option>  নির্বাচন করুন  </option>";
                    $.each(response,
                        function (key, subDistrict) {
                            options += "<option value='" + subDistrict.Id + "'>" + subDistrict.SubDistrictName + "</option>";
                        });
                    $(targetId).append(options);
                },
                error: function (response) {

                }
            });
        }

    </script>
}


